<div *ngIf="isAdmin || profile" class="card mt-4">
  <h4 class="card-header">Settings</h4>
  <div class="card-body">
    <a [routerLink]="['..']" class="btn btn-primary return"><i class="fas fa-long-arrow-alt-left"></i> Retour</a>
    <form *ngIf="user" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="col-md-3">
        <label for="city" class="form-label">Username</label>
        <input [(ngModel)]="user.username" name="username" type="text" class="form-control" id="username" required>
      </div>
      <div class="col-md-3">
        <label for="password" class="form-label">Password</label>
        <input ngModel name="password" type="text" class="form-control" id="password" required>
      </div>
      <div class="col-md-3">
        <label for="passwordConfirmation" class="form-label">Password Confirmation</label>
        <input name="passwordConfirmation" type="text" class="form-control" id="passwordConfirmation" required>
      </div>
      <div class="col-12 mt-3">
        <button class="btn btn-primary me-3" type="submit">Edit</button>
        <button class="btn btn-danger" type="button" (click)="deleteConfirmation()">Delete Account</button>
      </div>
    </form>
  </div>
</div>
